.dashboard {
  background: #fff;
  padding: 2rem 2rem;
  border-radius: 5px;
  box-shadow: 0 5px 12px 0 rgb(42 51 83 / 12%), 0 0 5px rgb(0 0 0 / 6%);
  max-width: 144rem;
  align-items: center;
  text-align: center;
  margin: 2rem auto;
}
