.thread {
  background: #fff;
  padding: 2rem 2rem;
  border-radius: 5px;
  box-shadow: 0 5px 12px 0 rgb(42 51 83 / 12%), 0 0 5px rgb(0 0 0 / 6%);
  max-width: unset;
  margin: 2rem 5rem;
}
.thread .title .tag {
  background: rgba(128, 128, 128, 0.3);
  margin: 0 1rem;
  padding: 0.1rem 1rem;
  border-radius: 7px;
}

.thread .container {
  box-shadow: 0 2px 8px 0 rgb(42 51 83 / 18%), 0 0 8px rgb(0 0 0 / 6%);
  padding: 0;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.3);
}
.thread .user-details {
  background: rgba(128, 128, 128, 0.1);
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  /* border-bottom: none; */
  display: flex;
  padding: 1rem;
}

.thread .avatar {
  width: 60px;
  height: 60px;
  background: blue;
  border-radius: 50%;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
}

.thread .user-details .info {
  margin-left: 1rem;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thread .user-details .date {
  font-size: 1.6rem;
}
.thread .user-details .username {
  font-weight: 700;
  font-size: 2.3rem;
}

.thread .post {
  padding: 2rem;
}

.thread .controls {
  display: flex;
  padding: 1rem 2rem;
  justify-content: flex-end;
}

.thread .controls button,
.comment-editor button {
  cursor: pointer;
  display: flex;
  border-radius: 4px;
  margin: 0 5px;
  border: 1px solid #dee2e6;
  background: var(--tertiary-color);
  color: #fff;
  font-size: 18px;
  transition: 0.3s;
}
.thread .controls button:hover,
.comment-editor button:hover {
  opacity: 0.7;
}
.thread .controls button:focus,
.comment-editor button:focus {
  outline: none;
  opacity: 0.8;
  border-color: blue;
}
.thread .controls button .material-icons {
  font-size: 25px;
}

.comment-editor {
  max-width: 144rem;
  margin: 80px auto;
  text-align: center;
}

.comment-editor h3 {
  margin-bottom: 10px;
  border-bottom: 2.5px solid rgb(95, 95, 95);
  padding: 0 20px;
  display: inline-block;
}
.comment-editor button {
  display: inline-block;
  margin: 15px 0;
  padding: 1rem 3rem;
}
