/* .login-btn {
  display: flex;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 25px;
  margin: 0 20px;
  transition: all 0.7s;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}

.login-btn img {
  transform: scale(0.7);
  margin-right: 8px;
  padding: 5px;
  background: var(--text-color);
  border-radius: 50%;
} */
